<h1>Businesses</h1>

<ul>
  <% @businesses.each do |business| %>
    <li><%= link_to business.biz_name, business_path(business) %></li>
    <% end %>
</ul>

<hr>

<%= link_to "New Business", new_business_path %>
