 @import "bootstrap-sprockets";
 @import "bootstrap";

// Web Fonts

// End Web Fonts

// Media Queries
@media (min-width: 769px) {

  .wrap {
    min-height: calc(100vh - 90px);
  }

  .wrapper {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

// End Media Queries



// Landing Page

* {
  box-sizing: border-box;
}

head {
  background-color: #ffa949;
}

header {
  font-family: 'Andada', serif;
  padding-top: 170px;
  height: 650px;

  background: linear-gradient(#ffa949, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('http://i.imgur.com/njxvrhD.jpg') no-repeat center;

  background-size: cover;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
}

body {
  color: #878787;
  margin: 0;
  font-family: 'Andada', serif;
}

.title {
  color: white;
  font-size: 1.625em;
}

.wrapper {
  padding-left: 1em;
  padding-right: 1em;
}

.main-footer {
  text-align: center;
  margin: 5% auto;
}

.nav, .title {
  margin-top: 0;
}

// End Landing Page
